div {
    margin-top: 10px;/*Außenabstand nach oben*/
    margin-bottom: 10px;/*Außenabstand nach unten*/
    padding-left: 10px;/*Innenabstand nach links*/
    padding-right: 10px;/*Innenabstand nach rechts*/
}

.innererBlock /*CSS-Selektor=CSS-Klasse*/ {
    padding: 40px;
    border: 1px solid black;
}

.content {
    margin: 20px;
    border: 1px solid black
}
/*
    AUFGABE:
    1) Erstelle eine neue CSS-KLasse content
    2) Gib der CSS-Klasse content den Außenabstand von 20px
    3) Gib der CSS-Klasse content einen Rahmen von 1px solid black
    4) Passe den Innenabstand der CSS-Klasse innererBlock an auf 40px
*/